<div class="my-5">
  <div id="about">
    <h2>About me</h2>
    <p>Full stack developer in Tokyo. <br>
      After two and a half years of working in a trading company,
      <br>
      I decided to join a coding bootcamp to get out of my comfort zone and obtain new skills.
      <br>
      I joined one of the top coding bootcamps, Le Wagon Tokyo's Web Development course.
      <br>
      Mainly studied Ruby on Rails, HTML/CSS, JavaScript in the bootcamp, and created following three projects.
      <br>
    </p>
  </div>
</div>
