<div class="banner d-flex">
  <div class="photo">
    <%= image_tag 'my_photo.jpeg', alt: "profile photo", class: 'avatar' %>
  </div>
  <div class="about_me">
    <h1 class="my_name">Yumi Kimura</h1>
    <p>Ruby || Rails || JavaScript || React || HTML || CSS/SCSS</p>
  </div>
</div>
