<footer class="text-center text-lg-start bg-white text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with me on social networks:</span>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/yumi.kimura.750" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/yumi.k_im/?hl=ja" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/kimurayumixy/" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/kimurayumixy" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <div class="contact">
      <div class="me-5 d-none d-lg-block">
        <span class="text-uppercase fw-bold mb-4">Contact</span>
      </div>
    </div>
    <div class="contact-details">
      <p><i class="fas fa-home me-3 text-secondary"></i>Tokyo, Japan</p>
      <p>
        <i class="fas fa-envelope me-3 text-secondary"></i>
        kimurayumixy@gmail.com
      </p>
      <p><i class="fas fa-phone me-3 text-secondary"></i> + 81 80 9646 0141</p>
    </div>
  </div>
</div>
</section>
</div>
</footer>
