.banner {
  background-image: url("../../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
  position: relative;
  backdrop-filter: blur(5px);
}

.about_me {
  margin: auto;
  margin-left: 20px;
}
