.cards {
  display: grid;
  grid-gap: 16px;
}

.project {
  display: flex;
}

.project-infos {
  margin: auto;
  margin-left: 20px;
}
.project img {
  width: 200px;
}

h1 {
  color: #6c757d;
}

h2 {
  color: #6c757d;
}

p {
  color: #6c757d;
}

.project-url a {
  text-decoration: none;
  color: #6c757d;
}
